.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay:hover {
  cursor: pointer;
}
.modal {
  z-index: 3;
}
.overlay {
  background: rgba(255, 255, 255, 0.7);
}
.modalContent {
  display: grid;
  row-gap: 25px;
  position: relative;
  padding: 70px 40px 60px 40px;
  z-index: 1;
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.locationSelectors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  width: 100%;
  gap: 50px;
}
.gridSelectors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  column-gap: 50px;
  row-gap: 25px;
  width: 90%;
}
.bottomSelectors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  width: 60%;
  gap: 25px;
}
.tile > * {
  border-radius: 4px;
  border: 1px solid #0000004d;
  box-shadow: 0px 2px 4px 0px #00000040;
}
.filterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #009aa4;
  text-decoration: none;
  color: white;
  width: max-content;
  border-radius: 5px;
  margin: auto;
}
.filterButton .sh2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}
.filterButton img {
  padding-left: 5px;
}
@media screen and (max-width: 768px) {
  .modalContent {
    padding: 25px 30px;
    height: 50%;
    gap: 12px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .locationSelectors, .gridSelectors, .bottomSelectors{
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    width: 100%;
  }
}
