.searchSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
}
.searchSection .moreOptions {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.moreOptions div {
  text-decoration: none;
  color: white;
}
.searchSection .searchContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 100%;
}
.searchContainer .searchInput {
  width: 40%;
  height: inherit;
  text-indent: 20px;
  outline: none;
  padding: 0;
}
.searchContainer div {
  display: flex;
  background-color: #009aa4;
  text-decoration: none;
  color: white;
  border: 0px;
  height: inherit;
}
.searchContainer .ui1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchContainer .sh2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .searchContainer{
    height: auto !important;
    /* display: grid;*/
    /* grid-template-columns: 4fr 1fr; */
  }
  .searchInput{
    padding: 9px 0px !important;
    font-size: 12px;
    text-indent: 10px !important;
  }
  .sh2{
    font-size: 12px;
  }
  .moreOptions{
    padding-top: 5px !important;
  }
  .downArrow{
    width: 8px !important;
    height: 8px !important;
  }
  .searchIcon{
    width: 8px;
    height: 8px;
    margin-left: 2px;
  }
}
